SECRET_KEY=your_secret_key_here
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/beetrack
RATE_LIMIT_STORAGE=redis
REDIS_URL=redis://redis:6379/0
PROMETHEUS_ENDPOINT_ENABLED=true
DETAILED_LOGGING_ENABLED=true
# GENERATE_LARGE_DATA=false